In [1]:
import pandas as pd
import numpy as np

In [85]:
### QUESTION 2

In [92]:
## The datasets contains number of ferry trips for each destination in Istanbul

In [6]:
df_21=pd.read_csv('2021-yl-ehir-hatlar-sefer-saylar.csv',encoding='iso8859_9',sep=';')

In [8]:
df_20=pd.read_csv('2020-yl-ehir-hatlar-sefer-saylar.csv',encoding='iso8859_9',sep=';')

In [87]:
df_20.head()

    yıl                      güzergah  toplam_sefer_adeti
0  2020            BEŞİKTAŞ - KADIKÖY              26.879
1  2020  KADIKÖY - KARAKÖY - BEŞİKTAŞ              13.000
2  2020             EMİNÖNÜ - ÜSKÜDAR              28.441
3  2020   ÜSKÜDAR - KARAKÖY - EMİNÖNÜ               8.737
4  2020             KADIKÖY - EMİNÖNÜ              18.408

In [91]:
df_21.head()

,yıl,güzergah,toplam_sefer_adeti
0,2021.0,BEŞİKTAŞ-KADIKÖY,23.658
1,2021.0,EMİNÖNÜ-ÜSKÜDAR,23.854
2,2021.0,EMİNÖNÜ-KADIKÖY,18.298
3,2021.0,EMİNÖNÜ-BEŞİKTAŞ-KUZGUNCUK-BEYLERBEYİ-ÇENGELKÖ...,497.000
4,2021.0,EMİNÖNÜ-BEŞİKTAŞ-ORTAKÖY-EMİRGAN-PAŞABAHÇE-BEY...,545.000

In [11]:
df_21.dropna(inplace=True)

In [15]:
df_20['TOPLAM SEFER ADETİ'].sum()

5851.006

In [18]:
df_21['Toplam Sefer Adeti'].sum()

8956.094999999998

In [20]:
from collections import defaultdict

In [29]:
def def_value():
    return 0

In [32]:
df_20.columns=['yıl','güzergah','toplam_sefer_adeti']

df_21.columns=['yıl','güzergah','toplam_sefer_adeti']

In [30]:
sefer_counter_20 = defaultdict(def_value)

In [31]:
sefer_counter_21 = defaultdict(def_value)

In [33]:
for row in df_20.itertuples():
    semt_list=row.güzergah.split(' - ')
    for k in semt_list:
        sefer_counter_20[k]=sefer_counter_20[k]+row.toplam_sefer_adeti

In [42]:
for row in df_21.itertuples():
    semt_list=row.güzergah.split(' - ')
    for k in semt_list:
        sefer_counter_21[k]=sefer_counter_21[k]+row.toplam_sefer_adeti

In [43]:
sefer_counter_20_c=sefer_counter_20

In [44]:
sefer_counter_21_c=sefer_counter_21

In [49]:
del sefer_counter_20
del sefer_counter_21
sefer_counter_20={}
sefer_counter_21={}

In [50]:
for i in sefer_counter_20_c.items():
    sefer_counter_20[i[0]]=i[1]

In [52]:
for i in sefer_counter_21_c.items():
    sefer_counter_21[i[0]]=i[1]

In [57]:
df=pd.DataFrame()

df['station']=sefer_counter_20.keys()

df['sefer_sayısı']=sefer_counter_20.values()

df['yıl']=2020

In [62]:
df.loc[df.sefer_sayısı==df.sefer_sayısı.max()]

    station  sefer_sayısı   yıl
0  BEŞİKTAŞ      1889.597  2020

In [63]:
df=pd.DataFrame()

df['station']=sefer_counter_21.keys()

df['sefer_sayısı']=sefer_counter_21.values()

df['yıl']=2021

In [64]:
df.loc[df.sefer_sayısı==df.sefer_sayısı.max()]

                                 station  sefer_sayısı   yıl
22  BEBEK-ANADOLU HİSARI-KANLICA-EMİRGAN         969.0  2021

In [93]:
### QUESTION 3

In [94]:
## The datasets contains number of passengers of ferry trips in Istanbul for each station and month

In [65]:
df_yolcu=pd.read_csv('istanbul-deniz-iskeleleri-yolcu-saylar.csv',encoding='iso8859_9',sep=';')

In [68]:
df_yolcu.loc[df_yolcu['Yolcu Sayisi']==df_yolcu['Yolcu Sayisi'].max()]

,Yil,Ay,Otorite Adi,Istasyon Adi,Yolcu Sayisi
516,2021,10,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,757374

In [71]:
yolcu_sum_df=df_yolcu.groupby(['Istasyon Adi','Yil'])['Yolcu Sayisi'].max().to_frame()

In [72]:
yolcu_sum_df.groupby('Yil')['Yolcu Sayisi'].max()

Yil
2021    757374
Name: Yolcu Sayisi, dtype: int64

In [82]:
ay=df_yolcu.groupby('Ay')['Yolcu Sayisi'].max().index

In [80]:
sayı=df_yolcu.groupby('Ay')['Yolcu Sayisi'].max().values

In [83]:
df_yolcu.loc[(df_yolcu['Ay'].isin(ay))&(df_yolcu['Yolcu Sayisi'].isin(sayı))]

,Yil,Ay,Otorite Adi,Istasyon Adi,Yolcu Sayisi
2,2021,3,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,106334
72,2021,4,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,274984
144,2021,5,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,205662
214,2021,6,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,488048
287,2021,7,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,590792
363,2021,8,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,601089
440,2021,9,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,633355
516,2021,10,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,757374
591,2021,11,DENTUR - AVRASYA DENİZ TAŞ.TUR.HİZ.İNŞ.SAN.TİC...,BESIKTAS,223286